.profile__description {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 660px) {
  .profile__description {
    grid-column: 1/3;
    text-align: center;
    font-size: 14px;
  }
}